<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.ErrorCode}} : {{.ErrorMessage}}</title>
    <link rel="stylesheet" href="/static/error404.css">
   
</head>
<body>
    <header>
        <nav><a href="/home"><img src="https://cdn.discordapp.com/attachments/1275798049595326474/1281587566050803842/acceuil.png?ex=66dc42ee&is=66daf16e&hm=b02e44657fd5f4573e12683070ac1df5fe7625c2d6f776b527e39959e8f0527f&" rows="30" cols="120" alt="Accueil" class="nav-image"></a></nav>
    </header>
        <br>    
    <div class="error-container">
        <h1>{{.ErrorCode}} : {{.ErrorMessage}}</h1>
        <div class="gif-container">
            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a4f3bf48-5d02-4177-8878-6dc17c5b0842/df44iy2-7b3c9053-73d2-4129-992b-685c90f0ea4f.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2E0ZjNiZjQ4LTVkMDItNDE3Ny04ODc4LTZkYzE3YzViMDg0MlwvZGY0NGl5Mi03YjNjOTA1My03M2QyLTQxMjktOTkyYi02ODVjOTBmMGVhNGYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.QK05qmbfNhPXyWbLx5hKQFJ3TLJViQClecxmLUShwz4">
        </div>
    </div>
</body>
</html>
